<nz-layout class="owl-layout">
    <nz-back-top></nz-back-top>
  <nz-header style="width:100%">
    <div class="logo">OWL</div>

    <div class="link">
      <a href="https://github.com/PatrickSR/owl"><i nz-icon nzType="github" nzTheme="outline"></i></a>
    </div>
  </nz-header>

  <nz-content class="owl-content" style="margin-top: 32px;">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="6">
        <div class="qrcode-wrapper">
          <qrcode [qrdata]="connectQrCodeId" [size]="160" [level]="'M'"></qrcode>
          <div><b>房间号（可以不用看）</b></div>
          <div><s>{{connectQrCodeId}}</s></div>
        </div>

        <div class="tips-wrapper">
          如何使用
        </div>
      </div>
      
      <div class="log-wrapper" nz-col nzOffset="1" nzSpan="17">
        <nz-tabset class="log-panel">
          <nz-tab nzTitle="全部消息">
            <nz-collapse class="details" [nzBordered]="false" [nzAccordion]="true">
              <nz-collapse-panel *ngFor="let item of allMessage" [nzHeader]="item.simpleMessage"
                [nzExtra]="item.type === 'console'? consoleTagTpl : requestTagTpl">
                <!-- console 显示模板 -->
                <ng-container *ngIf="item.type === 'console'">
                  {{item.message}}
                </ng-container>

                <!-- 请求显示模板 -->
                <ng-container *ngIf="item.type === 'request'">
                  <div nz-row>
                    <div nz-col nzSpan="11">
                      <div>请求内容</div>
                      <div style="word-break: break-all;">{{item.message.request | json}}</div>
                    </div>
                    <div nz-col nzOffset="2" nzSpan="11">
                      返回内容
                      <div style="word-break: break-all;">{{item.message.res | json}}</div>
                    </div>
                  </div>
                </ng-container>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-tab>

          <nz-tab nzTitle="Console 消息">
            <nz-collapse class="details" [nzBordered]="false" [nzAccordion]="true">
              <nz-collapse-panel *ngFor="let item of consoleMessageOnly" [nzHeader]="item.simpleMessage"
                [nzExtra]="consoleTagTpl">
                  {{item.message}}
              </nz-collapse-panel>
            </nz-collapse>
          </nz-tab>

          <nz-tab nzTitle="Request 消息">
            <nz-collapse class="details" [nzBordered]="false" [nzAccordion]="true">
              <nz-collapse-panel *ngFor="let item of requestMessageOnly" [nzHeader]="item.simpleMessage"
                [nzExtra]="requestTagTpl">
                  <div nz-row>
                    <div nz-col nzSpan="11">
                      <div>请求内容</div>
                      <div style="word-break: break-all;">{{item.message.request | json}}</div>
                    </div>
                    <div nz-col nzOffset="2" nzSpan="11">
                      返回内容
                      <div style="word-break: break-all;">{{item.message.res | json}}</div>
                    </div>
                  </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-tab>
        </nz-tabset>
        <div>

        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;"></nz-footer>
</nz-layout>


<ng-template #consoleTagTpl>
  <nz-tag [nzColor]="'#87d068'">Log</nz-tag>
</ng-template>

<ng-template #requestTagTpl>
  <nz-tag [nzColor]="'#108ee9'">Request</nz-tag>
</ng-template>