.owl-layout {
}

.owl-content {
  padding:0 50px;
  margin-top:64px;
  .qrcode-wrapper {
  }

  .log-wrapper {
    .log-panel {
      height: 70vh;
      overflow: scroll;
    }
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}